# A `.dev.env' file is required by the `compose-dev.yaml' configuration.
# The required environment variables are expected to be present in
# `.dev.env', located in the same directory as `compose-dev.yaml',
# though they can be overriden according to Docker Compose's rules of
# environment variable precedence. Environment variables not specified
# in this file may be included in `.dev.env', but they may not be
# included in the environment unless `--env-file .dev.env' is included
# in the docker compose command line.

# The following environment variables are REQUIRED:
#
# Auth Token for ngrok
NGROK_AUTHTOKEN=

# The following environment variables are optional:

# The address on the host to which the ircd service will be bound
#IRCD_LISTEN_ADDR=127.0.0.1

# The port on the host to which the ircd service will be bound
#IRCD_PORT=6667

# The port on the host to which the ircd TLS service will be bound
#IRCD_TLS_PORT=6697
