/target
*~
\#*\#
.\#*
*.sqlite3
*.json
!etc/pipo/config.example.json
!etc/pipo/transports.example.json
.DS_Store
.vagrant/
.dev.env
apps/pipo_supervisor/_build/
apps/pipo_supervisor/deps/
native/transport_runtime/target/
